{
  "printWidth": 120,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
